<p style="font-size:20px">Esta aplicacion fue desarollada para el uso de las diferentes apis de facebook, con las cuales esta pagina ha implementado:</p>
<p>
<br />-El inicio y termino de sesion usando facebook, por lo cual no se requiere ningun tipo de inscripcion, solamente se ocupa un perfil de facebook y la autorizacion del usuario.
<br />-El manejo de tokens y sus respectivos tiempos de vida de los usuarios que usen esta aplicacion 
<br />-La recuperacion de los datos del usuario y su despliegue en una pagina perfil
<br />-El uso de opengraph para hacer publicaciones de acciones al muro del usuario registrado
</p>
